


.headerNav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  height: 70px;
  background-color: #f4f2e9;
}

// background images goes here
.signUpBody {
  border-top: 500px;
  display: flex;
  justify-content: space-between;
  height: 350px;
  border-bottom-color: black;
  background-image: url(http://res.cloudinary.com/ddbfkqb9m/image/upload/v1478191191/background_torii_mznrtq.jpg);
  background-position: center;
  background-size: cover;
}

.signUpForm {
  padding-right: 150px;
}
.logo {
  border-style: none;
  background-image: url(http://res.cloudinary.com/ddbfkqb9m/image/upload/v1478400202/Extras/Logomakr_6eQJJ4.png);
  height: 55px;;
  width: 200px;
  background-repeat: no-repeat;
  margin-left: 200px;
  padding-left: 250px;
}

.loginForm {
  padding-right: 250px;
}

.auth-login-button {
  color: #fff;
background-color: #6496c8;
text-shadow: -1px 1px #417cb8;
border: none;
}

.submitButton {
  color: #fff;
background-color: #6496c8;
text-shadow: -1px 1px #417cb8;
border: none;
length: 200px;
}

.guestLogin {
  color: #fff;
background-color: #6496c8;
text-shadow: -1px 1px #417cb8;
border: none;
}

.errorMessage {
  font-size: 10pt;
}

.loginForm > input {
  height: 20px;
}

.signUpForm > h4 {
  font-family: 'Lato', sans-serif;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.signUpForm > input {
  height: 20px;
  width: 175px;
  padding: 5px;
  margin: 5px;
  font-family: 'Lato', sans-serif;
}

.signUpButton {
  width: 50px;
  height: 25px;
}

.mottoSplash {
  flex: auto;
  margin-top: 0px;
  padding-left: 300px;
  padding-top: 150px;
  font-size: 24px;
}
