

@import url(http://fonts.googleapis.com/css?family=Istok+Web);

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

figure {
  margin: 0;
  background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}

div.captioned-gallery {
  width: 100%;
  height: 100%; // maxes it out to the screen height, overflowing unseen
  overflow: hidden;
  position: absolute;
  z-index: -1;
  border-bottom: black solid 3px;
}

figure.slider {
  position: relative;
  width: 500%;
  font-size: 0;
  animation: 20s slidy infinite;
}

figure.slider figure {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;
}

figure.slider img {
  width: 100%;
  height: 100%;
 }

figure.slider figure figcaption {
  position: absolute;
  top: 68%;
  background: rgba(0,0,0,0.4);
  color: #fff;
  width: 100%;
  font-size: 2rem;
  padding: .6rem;
}




.splash-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.splash-footer img {
  margin-left: 1%;
  margin-bottom: 5px;
  height: 25px;
  background-color: white;
  border-radius: 5px;
}





.headerNav {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  height: 80px;
}

.signUpBody {
  display: flex;
  justify-content: space-around;
  height: 90%;
  width: 100%;
  border-bottom-color: black;
}

.splash-errorsBG-hidden {
  visibility: hidden;
  margin-left: 40px;
  margin-right: 35px;
  // margin-left: 110px;
  // margin-right: 105px;
  width: 350px;
}

.errorsContainer {
  // 57, 55
  margin-left: 37px;
  margin-right: 34px;
  // margin-left: 107px;
  // margin-right: 105px;
  width: 350px;
  background: rgba(255, 255, 255, 0.7);
  border: red solid 2px;
  border-radius: 5px;
}


// why is margin-left need to be 107 here, but 110 above?
// something to do with the ul?
.splash-errorsBG-show {
  margin-left: 57px;
  margin-right: 55px;
  // margin-left: 107px;
  // margin-right: 105px;
  width: 350px;
  background: rgba(255, 255, 255, 0.7);
  border: red solid 2px;
  border-radius: 5px;
}

.errorsContainer ul{
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.errorMessage {
  font-size: 12pt;
  list-style: none;
  color: red;
  margin-top: 3px;
  margin-left: 7px;
}

.splash-signUp-middle {
  width: 0px;
}

.signUpForm {
  margin-top: 80px;
  height: 315px;
  border: black solid 1px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.7);
  width: 275px;
  margin-right: 25px;
}


.logo {
  border: black solid 1px;
  background-image: url(http://res.cloudinary.com/ddbfkqb9m/image/upload/v1478400202/Extras/Logomakr_6eQJJ4.png);
  height: 55px;;
  width: 300px;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.login-form-wrapper {
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border: black solid 1px;
  border-radius: 5px;
}

.loginButtons {
  padding-top: 5px;
  padding-bottom: 5px;
}

.auth-login-button {
  color: #fff;
  background-color: #6496c8;
  border: black solid 2px;
  border-radius: 3px;
  margin-left: 10px;
  width: 200px;
  height: 30px;
  font-size: 16px;
}

.submitButton {
  color: #fff;
  background-color: #6496c8;
  border: black solid 2px;
  border-radius: 3px;
  margin-left: 40px;
  width: 179px;
  height: 34px;
  font-size: 18px;
  margin-top: 10px;
}

.guestLogin {
  color: #fff;
  background-color: #FA6700;
  border: black solid 2px;
  border-radius: 3px;
  margin-left: 40px;
  margin-top: 10px;
  width: 179px;
  height: 34px;
  font-size: 18px;
}

.errorMessage li {
  margin: 3px;
}

.loginForm > input {
  font-size: 16px;
  width: 175px;
  padding: 10px;
  margin: 5px;
  font-family: 'Lato', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.signUpForm > h4 {
  font-family: 'Lato', sans-serif;
  margin-left: 14px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.signUpForm > input {
  height: 20px;
  width: 175px;
  padding: 5px;
  margin: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-left: 40px;
}

.signUpButton {
  width: 50px;
  height: 25px;
  border-radius: 5px;

}

.mottoContainer {
  width: 600px;
  height: 180px;
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  border: black solid 1px;
  margin-left: 25px;
}


.mottoSplash {
  flex: auto;
  margin-top: 0px;
  margin-bottom: 8px;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 24px;
}

.mottoSubSplash {
  font-size: 18px;
  margin-left: 25px;
  margin-top: 15px;
}

.mottoSplashbottom {
  margin-left: 160px;
  font-size: 20px;
}
