


.headerNav {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  height: 70px;
  background-color: #f4f2e9;
}

// background images goes here
.signUpBody {
  border-top: 500px;
  display: flex;
  justify-content: space-between;
  height: 425px;
  border-bottom-color: black;
  background-image: url(http://res.cloudinary.com/ddbfkqb9m/image/upload/v1483230168/splash2_mmt4nm.jpg);
  background-position: center;
  background-size: cover;
}

.errorsContainer {
  width: 316px;
  padding-left: 90px;
  padding-right: 70px;
}

.errorsContainer ul {
  margin-bottom: 0px;
  margin-top: 0px;
}

.signUpForm {
  padding-right: 150px;
}

.logo {
  border-style: none;
  background-image: url(http://res.cloudinary.com/ddbfkqb9m/image/upload/v1478400202/Extras/Logomakr_6eQJJ4.png);
  height: 55px;;
  width: 300px;
  background-repeat: no-repeat;
}

.loginForm {
  height: 150px;
}

.loginButtons {
  padding-top: 5px;
  padding-bottom: 5px;
}

.auth-login-button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  height: 30px;
  border-radius: 5px;
}

.submitButton {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  border-radius: 5px;
}

.guestLogin {
  color: white;
  background-color: red;
  text-shadow: -1px 1px #417cb8;
  border: none;
  width: 87px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
}

.errorMessage {
  font-size: 10pt;
  list-style: none;
}

.loginForm > input {
  height: 25px;
}

.signUpForm > h4 {
  font-family: 'Lato', sans-serif;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.signUpForm > input {
  height: 20px;
  width: 175px;
  padding: 5px;
  margin: 5px;
  font-family: 'Lato', sans-serif;
}

.signUpButton {
  width: 50px;
  height: 25px;
  border-radius: 5px;
}

.mottoSplash {
  flex: auto;
  margin-top: 0px;
  margin-bottom: 8px;
  padding-left: 300px;
  padding-top: 110px;
  font-size: 24px;
}

.mottoSubSplash {
  font-size: 18px;
  padding-left: 300px;
}
