



.bookshelfMain {
  margin-top: 30px;
  display: flex;
  padding-right: 200px;
}

.bookshelfLeft {
  padding-right: 500px;
}

.bookshelfContainer {
}

.comicDisplayWrapper {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #F4F1EA;
  padding-right: 10px;
  margin: 5px;
  padding-right: auto;
}

.comicInfoDisplay {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.bookshelfTitle {
  font-size: 18px;
  width: 300px;
}

.bookshelfComicText {
  list-style: none;
  display: flex;
  flex-direction: column;

  padding-right: 300px;
}

.bookshelfComicShow {
  flex-direction: column;
  width: 100%;
  display: flex;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #F4F1EA;

}

.bookshelfPicture {
  box-shadow: 10px 10px 5px #888888;
  margin: 5px;
  height: 100px;
}
