

#shelf-controls-wrapper {
  border-radius: 0px;
  border-top: 0px;
  background-color: #141414;
  margin-left: 2em;
  border: none;
}
/*logomakr.com/4Ipj3K*/
/*#FF5700*/

#shelf-create-input {
  margin-right: 0.3em;
}

#tooltip > .tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid #062e56;
}

@media screen and (max-width: 767px) {
  .shelf-nav-a {
    display: none;
  }
  #shelf-button {
    width: 100%;
  }
  #shelf-create-input {
    text-align: center;
  }
}

@media screen and (min-width: 767px) {
  .shelf-nav-b {
    display: none;
  }
  .shelf-link-home {
    display: none;
  }
  #shelf-redirectHome {
    display: none;
  }
}

.shelf-menu-item {
  display: flex;
  justify-content: space-between;
}

.shelf-delete-button {
  margin-left: 0.75em;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
  height: 1.5em;
  padding-top: 0px;
}

.shelf-delete-button:hover {
  background-color: red;
  color: white;
}

.sidebar-delete:hover {
  background-color: red;
  color: white;
}
