
.bars-comicTitle {
  color: black;
}

.grid-comicTitle {
  color: black;
}

.bars-md-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20vw;
}

.bars-shelf-row-md {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.grid-md-left {
  margin-top: 0em;
}

.line {
  width: 100%;
  border-top: black solid 1px;
}

.userShelfRating {
  max-width: 20vw;
}

.grid-userShelfRating {
  margin-top: 2em;
  max-width: 20vw;
}

.bookshelfPicture {
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  border-width: 1px;
}

.grid-bookshelfPicture {
  margin: 0.5em 0.5em 0.5em 0.5em;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  border-width: 1px;
}

.releaseDate {
  margin: 5px;
  width: 100%;
}

.genres {
  list-style: none;
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .bars-md-left {
    max-width: 100%;
    text-align: center;
    margin-top: 0.5em;
    height: 2em;
  }
  .bars-shelf-row-md {
    flex-direction: column;
  }
  .bars-bookshelf-a {
    display: flex;
    justify-content: center;
  }
  .grid-genres {
    padding-left: 14px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  .grid-userShelfRating {
    margin-top: 0em;
  }
  .grid-md-left {
    margin-top: 1em;
  }
}

.genres li{
  margin-top: 7px;
}

.shelfStarRating {
  margin-top: 5px;
}

.userShelfLeft {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.userShelfTitle-link, .userShelfTitle-link:visited, .userShelfTitle-link:hover, .userShelfTitle-link:active {
  color: inherit;
}
