
.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    margin-left: 1.15em;
    padding-left: 0.5em;
    width: 115%;
    background: rgba(20,20,20,.5);
    border-radius: 3px;
    width: 93%;
}

#home-visit-button-right {
  width: 12em;
}

.home-dd-form {
  margin-top: 0.5em;
}

.home-dropdown-radio {
  font-family: 'Lato', serif;
}

.home-dropdown-radio > label > input {
  margin-right: 1em;
}

.dropdown--active .dropdown__content {
    display: block;
}
