

.home-title {
  font-size: 26px;
  padding-left: 270px;
  list-style: none;
}

.home-description {
  list-style: none;
}

.home-greeting {
  list-style: none;
}

.library {
}

.comicWrapper {
  background-color: white;
  border-radius: 3px;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  margin: 5px;
  width: 120px;
}

.home-center {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
}

.home-container {
  padding-top: 75px;
  // justify-content: space-between;
  // flex-wrap: wrap;
  background-color: #FFFFFF;
}

.mangaHomeDisplay {
  margin-top: 150px;
  display: inline-block;
  height: 2px;
  margin: 1px;
}


.homePicture {
  margin: 5px;
  height: 160px;
  box-shadow: 4px 4px 2px #888888;
  color: #FF6900
}

.home-left {
  padding-left:   100px;
}

.home-right {
  padding-right: 100px;
}
