

.home-title {
  font-size: 22px;
  padding-left: 270px;
  list-style: none;
}

.home-description {
  list-style: none;
}

.home-greeting {
  list-style: none;
}



.home-container {
  padding-top: 75px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.mangaHomeDisplay {
  margin-top: 150px;
  display: inline-block;
  height: 2px;
  margin: 1px;
}


.homePicture {
  margin: 5px;
  height: 160px;
  box-shadow: 10px 10px 5px #888888;
  color: #FF6900
}

.home-left {
  padding-left:   100px;
}

.home-right {
  padding-right: 100px;
}
