


.single-manga-show {
  display: flex;
  justify-content: space-between;
}

.single-manga-picture {
  list-style-type: none;
  display: flex;
  max-width: 50%;
  height: auto;
  padding-left: 100px;
}

.single-manga-words {
  padding-right: 150px;
  list-style-type: none;
  line-height: 1.5em;
  text-decoration: none;
}
