


.single-manga-show {
  margin-top: 25px;
}

.single-manga-container {
  display: flex;
  justify-content: center;
}

.mangaShowTop {
  display: flex;
  flex-direction: row;
}

.mangaHomeWords {
  padding-bottom: 25px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.mangaHomeTitle{
  font-size: 24px
}

.manga-dropdown {
    margin: 20px;
    background: #F4F2E9;
    color: #FF6900;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
    outline-color:#FF6900;

}

.manga-picture-show {
  box-shadow: 4px 4px 1px #888888;

}

.manga-top-left {
  display: flex;
  flex-direction: column;
}

.manga-top-right {
  display: flex;
  flex-direction: column;
}

.single-manga-top {
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  display: flex;

  height: auto;
  padding-top: 25px;
  padding-bottom: 10px;
}

.manga-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
}

.checkbox-label {
  display: flex;
  justify-content: space-between;
}

.single-manga-words {
  width: 300px;
}

.single-manga-words ul {
  justify-content: flex-start;
  padding-left: 0px;
  width: 500px;
}

.single-manga-words {
  list-style-type: none;
  line-height: 1.5em;
  text-decoration: none;
  width: 400px;
}
