
.reviews {
  height: 300px;
  display: flex;
  justify-content: center;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviewForm p {
  margin: 0px;
}

.formTop {
  display: flex;
  flex-direction: row;
}

.formTopLeft {
  width: 428px;
}

.reviewFormTopRight {

}

.formDocument {
  display: flex;
  flex-direction: column;
}

.review-text {
  width: 500px;
}

.review-textarea {
  width: 500px;
  height: 150px;
}

.review-submit {
  width: 100px;
  height: 15px;
}
