
.reviews {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviewForm p {
  margin: 0px;
}

.formTop {
  display: flex;
  flex-direction: row;
}

.formTopLeft {
  width: 428px;
}

.hideRevButton {
  display: none;
}

.usersReview {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.review {
  width: 300px;
  border-width: 1px;
  border-style: solid;
}

.deleteEdit {

}

.hide {
  display: none;
}

.reviewBox {
  height: 100px;
  width: 300px;
  border-width: 1px;
  border-style: solid;
}

.formDocument {
  display: flex;
  flex-direction: column;
}

.review-text {
  width: 500px;
}

.review-textarea {
  width: 500px;
  height: 150px;
}

.review-submit {
  width: 100px;
  height: 15px;
}
