

.highlight {
  background-color: orange;
}

.sidebar-topper {
  list-style-type: none;
}

.sidebar-shelf-create {
  padding-left: 50px;
}

.shelf-title {
  font-size: 16px;
  margin-bottom: 26px;
}

.sidebar-shelves {
  padding-top: 50px;
  font-size: 14px;
  color: black;
  font-family: 'Lato', sans-serif;
}

.sidebar-shelves-title {
  padding-top: 50px;
  padding-left: 60px;
  padding-bottom: 10px;
  list-style-type: none;
}


.sidebar-continer {
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  border-right-width: 1px;
  border-style: solid;

  height: 500px;
  border: none;
  padding-left: 300

}

.sidebar-all {
  border: none;
  width: 100px;
}

.sidebar-generated-buttons input{
  margin: 5px;
  margin-right: 10px;
  margin-left: 0px;
  height: 5px;
  width: 100px;
  padding-right: 100px;
}

.sidebar-to-read {
  width: 100px;
  border: none;
}

.sidebar-delete {
  border: none;
  background-color: inherit;
}

.sidebar-shelves {
  margin: 5px;
  width: 100px;
  margin: 15px;
  padding-top: 80px;
  list-style-type: none;
  line-height: 1.5em;
  text-decoration: none;
  padding-right: 10px;
}

.sidebar-shelf-name {
  width: 100px;
  margin-left: 50px;
}

.addShelfSubmit {
  border: none;
  background-color: inherit;
  padding-left: 80px;
}


.sidebar-shelves-holder {
  margin: 15px;
  width: 100px;
  list-style-type: none;
  line-height: 1.5em;
  text-decoration: none;
  padding-right: 10px;
}


.sidebar-footer {
  width: 25px;
}
