

.topbar-header {
  border-bottom-width: 4px;
  border-bottom-color: black;
  border-bottom-style: solid;
  background-color: #f4f2e9
}

.topbar-home-button {
 background-color: #F4F1EA;
 border: none;
 color: black;
 padding: 2px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 height: 55px;
 margin-left: 25px;
 padding-left: 10px;
 padding-right: 10px;
}

.topbar-home-button:hover {
  background: orange;
  color:white;
}


.topbar-myManga-button:hover {
  background: orange;
  color: white;
}


.topbar-nav {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.topbar-search:focus, input:focus{
  outline: none;
}

.topbar-left {
  display: flex;
  justify-content: flex-start;
}

.topbar-search {
  font-size: 14px;
  padding-left: 30px;
  border-width: 1px;
  border-color: none;
  border-radius: 3px;
  margin-top: 15px;
  margin-left: 40px;
  height: 25px;
  width: 265px;
}

.button {
  cursor: pointer;
}

.topbar-logo {
  margin-top: 10px;
  border-style: none;
  background-image: url(http://res.cloudinary.com/ddbfkqb9m/image/upload/v1478401023/Extras/Logomakr_1YWFpy.png);
  height: 45px;
  width: 0px;
  background-repeat: no-repeat;
  margin-left: 2px;
  padding-left: 175px;
  padding-right: 10px;

}

.topbar-logout-button {
  background-color: #F4F1EA;
  border: none;
  width: 80px;
  height: 55px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.topbar-myManga-button {
  background-color: #F4F1EA;
  border: none;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding-right: 10px;
  height: 55px;
  padding-left: 10px;
}

.topbar-logout-button:hover {
  background: orange;
  color: white;
}

.topbar-profile-button {
  margin-top: 10px;
  border-style: none;
  background-color: #F4F1EA;
  height: 26px;
  width: 0px;
  background-repeat: no-repeat;
  margin-left: 2px;
  padding-left: 26px;
  padding-right: 10px;
}

.topbar-profile-button:hover {
  padding: 20px;
  background-color: orange;
}
