

.topbar-header {
  border-bottom-width: 1px;
  border-bottom-color: #E1E0DC;
  border-bottom-style: solid;
  background-color: #f4f2e9
}

// .topbar-home-button {
//  background-color: #F4F1EA;
//  border: none;
//  color: black;
//  padding: 2px;
//  text-align: center;
//  text-decoration: none;
//  display: inline-block;
//  font-size: 16px;
//  height: 55px;
//  margin-left: 50px;
// }

// .topbar-home-button:hover {
//   background: orange;
// }

.topbar-myManga-button {
  margin-left: 25px;
  padding-top: 3px;
  background-color: #F4F1EA;
  border: none;
  color: black;
  padding-bottom: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding-right: 6px;
  height: 55px;
  padding-left: 5px;
}

.topbar-myManga-button:hover {
  background: orange;
}



.topbar-list-left {
  margin-bottom: 0px;
  padding-left: 5px;
  margin-top: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.topbar-list-right {
  margin: 0px;
  padding-bottom: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.topbar-nav {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-start;;
}

.topbar-search:focus, input:focus{
  outline: none;
}

.topbar-search {
  font-size: 14px;
  padding-left: 30px;
  border-width: 1px;
  border-color: none;
  border-radius: 3px;
  margin-top: 15px;
  margin-left: 40px;
  height: 25px;
  width: 265px;
}

.button {
  cursor: pointer;
}

.topbar-logo {
  margin-top: 10px;
  border-style: none;
  background-image: url(http://res.cloudinary.com/ddbfkqb9m/image/upload/v1478401023/Extras/Logomakr_1YWFpy.png);
  height: 45px;
  width: 0px;
  background-repeat: no-repeat;
  margin-left: 2px;
  padding-left: 175px;
  padding-right: 10px;

}

.topbarContainer {
  height: 50px;
}

.topbar-logout-button {
  margin-left: 910px;
  background-color: #F4F1EA;
  border: none;
  width: 80px;
  color: black;
  padding-left: 10px;
  font-size: 16px;
}

.topbar-logout-button:hover {
  background: orange;
}

.topbar-profile-button {
  margin-top: 10px;
  border-style: none;
  background-color: #F4F1EA;
  height: 26px;
  width: 0px;
  background-repeat: no-repeat;
  margin-left: 2px;
  padding-left: 26px;
  padding-right: 10px;
}

.topbar-profile-button:hover {
  padding: 20px;
  background-color: orange;
}
